.detail-specialty-container {
    .description {
        border: 1px solid red;
        height: 200px;
    }

    .detai-body {
        margin: 0 100px;
    }

    .each-doctor {
        display   : flex;
        width     : 100%;
        min-height: 300px;
        margin    : 15px 0;
        padding   : 10px;

        background-color: #fff;
        box-shadow      : 0 1px 6px #20212447;
        border-radius   : 8px;

        .content-left {
            width       : 30%;
            border-right: 1px solid #ddd;
        }

        .content-right {
            width  : 60%;
            padding: 10px;

            .doctor-schedule {
                .schedule-container {
                    border-right: unset !important;
                }
            }

            .extra-infor {
                border-top : 1px solid #ddd;
                margin-top : 10px;
                padding-top: 10px;

                .extra-infor-container {
                    padding-left: 0 !important;
                }
            }
        }
    }
}