.doctor-detail-container {
    height      : 600px;
    //  margin  : 0 100px;
    //border: 1px solid red;

    .doctor-intro {
        display  : flex;
        height   : 150px;
        margin   : 0 100px;
        //border : 1px solid gray;

        .content-left {
            //background   : center center no-repeat;
            background-size    : cover;
            background-repeat  : no-repeat;
            background-position: center;
            width              : 120px;
            height             : 120px;
            border-radius      : 50%;
            margin             : 10px 50px;
        }

        .content-right {
            width         : 80%;
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;

            .up-text {
                padding-top: 15px;
                font-size  : 20px;
                font-weight: 600;
            }

            .down-text {
                padding-top: 10px;
            }
        }
    }

    .detail-doctor {

        background   : #f5f5f5;
        border-top   : 1px solid rgb(188, 179, 179);
        border-bottom: 1px solid rgb(188, 179, 179);

        .detail-content {
            margin        : 0 100px;
            padding-top   : 20px;
            padding-bottom: 10px;
        }
    }

    .schedule-doctor {
        margin        : 0 100px;
        display       : flex;
        min-height    : 200px;
        padding-bottom: 15px;

        .content-schedule {
            width: 50%;
        }

        .content-info {
            width: 50%;
        }
    }


}